.footer {
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding-bottom: 3rem;
    background-color: #ffffff44;
    backdrop-filter: blur(50px);
}
.line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 3rem;
}
.text > h3{
    margin-bottom: 1rem;
}
/* .footer::before{
    content: '';
    display: block;
    background-color: #fff;
    height: 2px;
} */
@media screen and (max-width:780px){

    .text{
        width: 100%;
        text-align: start;
        margin-top: 0.5rem;
        margin-left:3rem;
        font-size: 0.8rem;
    }
}